<table class='table'>
  <tr>
    <%if @user.profile_image.attached?%>
      <%= image_tag @user.profile_image, size:'100x100' %>
    <% else %>
      <%= image_tag "no_image.jpg", size:'100x100', style:"margin:1rem;"%>
    <%end%>
  </tr>
  <tr>
	  <th>name</th>
	  <th><%= @user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= @user.introduction %></th>
  </tr>
  <tr>
	  <th>フォロー中</th>
	  <th><%= link_to @user.follower.count, user_follows_path(@user) %></th>
  </tr>
  <tr>
	  <th>フォロワー</th>
	  <th><%= link_to @user.followed.count, user_followers_path(@user) %></th>
  </tr>
</table>

<div class='row'>
  <%if current_user != @user%>
    <%if current_user.following?(@user)%>
      <%= link_to "アンフォロー" , user_relationships_path(@user.id), method: :delete, class:"fo-btn"%>
    <%else%>
      <%= link_to "フォロー" ,user_relationships_path(@user.id), method: :post, class:"fo-btn"%>
    <%end%>
  <%end%>
</div>

<div>
  <% if current_user != @user && current_user.following?(@user)%>
    <%= link_to 'chatを始める', message_path(@user.id)%>
  <%end%>
</div>

  <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block edit_user_#{@user.id}" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
